In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("/home/local/ASURITE/speddira/dev/git_repo/traffic_sense_net/city_scale/processed_datasets/incidents_2024-2-16_1915hours_2592000steps.csv")

In [14]:
df.head()

,Unnamed: 0,accident_id,step,time_of_day,incident_edge,incident_start_time,incident_type,accident_label,accident_duration
0,292,acc7825,7826,7826,436943731#0,7825,multi_vehicle_collision,True,5982
1,78,acc15683,15684,15684,436942386#0,15683,multi_vehicle_collision,True,4993
2,188,acc23568,23569,23569,-327757100#6,23568,stalled_vehicle,True,1419
3,228,acc31505,31506,31506,-436789319,31505,multi_vehicle_collision,True,3626
4,239,acc39444,39445,39445,512810351#0,39444,stalled_vehicle,True,1196

In [16]:
print(f'Total number of incidents: {df.shape[0]}')

df_severe = df[df["incident_type"] == "multi_vehicle_collision"]
df_mild = df[df["incident_type"] == "stalled_vehicle"]

print(f"Total number of severe incidents {df_severe.shape[0]}")
print(f"Total number of mild incidents {df_mild.shape[0]}")

Total number of incidents: 323
Total number of severe incidents 164
Total number of mild incidents 159

In [18]:
print(f"Total number of incidents {df_severe.shape[0]}")
print(f"Average accident clearence time {df_severe['accident_duration'].mean()}")
print(f"Max accident clearence time {df_severe['accident_duration'].max()}")
print(f"Min accident clearence time {df_severe['accident_duration'].min()}")
print(f"Median accident clearence time {df_severe['accident_duration'].median()}")

Total number of incidents 164
Average accident clearence time 4905.164634146341
Max accident clearence time 7193
Min accident clearence time 2771
Median accident clearence time 5127.0

In [19]:
print(f"Total number of incidents {df_mild.shape[0]}")
print(f"Average accident clearence time {df_mild['accident_duration'].mean()}")
print(f"Max accident clearence time {df_mild['accident_duration'].max()}")
print(f"Min accident clearence time {df_mild['accident_duration'].min()}")
print(f"Median accident clearence time {df_mild['accident_duration'].median()}")

Total number of incidents 159
Average accident clearence time 1842.2704402515724
Max accident clearence time 2694
Min accident clearence time 902
Median accident clearence time 1902.0