In [3]:
import pandas as pd

In [4]:
raw_data = f"/home/local/ASURITE/speddira/dev/archived/traffic_sense_net/city_scale/raw_datasets/trafficDataset_2024-2-16_1915hours_2592000steps.csv"

In [5]:
# Exploring raw dataset

In [6]:
df = pd.read_csv(raw_data)

/tmp/ipykernel_433310/4210370588.py:1: DtypeWarning: Columns (10,12,14,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(raw_data)

In [7]:
print(df.columns)

Index(['step', 'time_of_day', 'identified_edge', 'junction_mean_speed',
       'traffic_count', 'traffic_occupancy', 'vehicles_per_lane_1',
       'vehicles_per_lane_0', 'lane_mean_speed_0', 'lane_mean_speed_1',
       'incident_edge', 'incident_start_time', 'incident_type',
       'accident_label', 'accident_id', 'accident_duration', 'incident_lane'],
      dtype='object')

In [10]:
print(f"> time_of_day : mean = {df['time_of_day'].mean()}")
print(f"> junction_mean_speed : mean = {df['junction_mean_speed'].mean()}")
print(f"> traffic_count : mean = {df['traffic_count'].mean()}")
print(f"> traffic_occupancy : mean = {df['traffic_occupancy'].mean()}")
print(f"> vehicles_per_lane_1 : mean = {df['vehicles_per_lane_1'].mean()}")
print(f"> vehicles_per_lane_0 : mean = {df['vehicles_per_lane_0'].mean()}")
print(f"> lane_mean_speed_0 : mean = {df['lane_mean_speed_0'].mean()}")
print(f"> lane_mean_speed_1 : mean = {df['lane_mean_speed_1'].mean()}")

> time_of_day : mean = 43199.5
> junction_mean_speed : mean = 6.2749956622983545
> traffic_count : mean = 2.8009439392269253
> traffic_occupancy : mean = 0.06723721450838108
> vehicles_per_lane_1 : mean = 0.7505871178718401
> vehicles_per_lane_0 : mean = 0.954426917989418
> lane_mean_speed_0 : mean = 6.427117795384521
> lane_mean_speed_1 : mean = 6.488110213117882

In [11]:
print(f"> time_of_day : mean = {df['time_of_day'].std()}")
print(f"> junction_mean_speed : mean = {df['junction_mean_speed'].std()}")
print(f"> traffic_count : mean = {df['traffic_count'].std()}")
print(f"> traffic_occupancy : mean = {df['traffic_occupancy'].std()}")
print(f"> vehicles_per_lane_1 : mean = {df['vehicles_per_lane_1'].std()}")
print(f"> vehicles_per_lane_0 : mean = {df['vehicles_per_lane_0'].std()}")
print(f"> lane_mean_speed_0 : mean = {df['lane_mean_speed_0'].std()}")
print(f"> lane_mean_speed_1 : mean = {df['lane_mean_speed_1'].std()}")

> time_of_day : mean = 24941.531741873143
> junction_mean_speed : mean = 6.739877219264939
> traffic_count : mean = 4.409552154621656
> traffic_occupancy : mean = 0.10430443296540168
> vehicles_per_lane_1 : mean = 1.4010183857602532
> vehicles_per_lane_0 : mean = 1.6808605383541053
> lane_mean_speed_0 : mean = 8.000877363566543
> lane_mean_speed_1 : mean = 8.100514560194172

In [12]:
raw_data_vehicle = f"/home/local/ASURITE/speddira/dev/archived/traffic_sense_net/city_scale/raw_datasets/vehicleDataset_2024-2-16_1915hours_2592000steps.csv"

In [13]:
df_vehicle = pd.read_csv(raw_data_vehicle)

In [14]:
df_vehicle.columns

Index(['step', 'time_of_day', 'car_id', 'identified_edge', 'identified_lane',
       'vehicle_speed', 'vehicle_acceleration'],
      dtype='object')

In [15]:
print(f"> step : mean = {df_vehicle['step'].mean()}")
print(f"> time_of_day : mean = {df_vehicle['time_of_day'].mean()}")
print(f"> vehicle_speed : mean = {df_vehicle['vehicle_speed'].mean()}")
print(f"> vehicle_acceleration : mean = {df_vehicle['vehicle_acceleration'].mean()}")

> step : mean = 1287566.6035033534
> time_of_day : mean = 34842.23772767879
> vehicle_speed : mean = 4.236559232296789
> vehicle_acceleration : mean = -0.06251854029763695

In [16]:
print(f"> step : std = {df_vehicle['step'].std()}")
print(f"> time_of_day : std = {df_vehicle['time_of_day'].std()}")
print(f"> vehicle_speed : std = {df_vehicle['vehicle_speed'].std()}")
print(f"> vehicle_acceleration : std = {df_vehicle['vehicle_acceleration'].std()}")

> step : std = 748867.0366722837
> time_of_day : std = 23092.331963811575
> vehicle_speed : std = 6.128495987684285
> vehicle_acceleration : std = 1.3273572131450249

In [5]:
df.head()

,step,time_of_day,identified_edge,junction_mean_speed,traffic_count,traffic_occupancy,vehicles_per_lane_1,vehicles_per_lane_0,lane_mean_speed_0,lane_mean_speed_1,incident_edge,incident_start_time,incident_type,accident_label,accident_id,accident_duration,incident_lane
0,0,0,436794670,0.0,0,0.0,0,0,0.0,0.0,NaN,0,NaN,False,NaN,0,-1
1,0,0,436791113#0,0.0,0,0.0,0,0,0.0,0.0,NaN,0,NaN,False,NaN,0,-1
2,0,0,436794680#0,0.0,0,0.0,0,0,0.0,0.0,NaN,0,NaN,False,NaN,0,-1
3,0,0,436940278,0.0,0,0.0,0,0,0.0,0.0,NaN,0,NaN,False,NaN,0,-1
4,0,0,-643913497,0.0,0,0.0,0,0,0.0,0.0,NaN,0,NaN,False,NaN,0,-1

In [6]:
df_incident = df[df["accident_label"]][["step","time_of_day","incident_edge","incident_start_time","incident_type","accident_label","accident_id","accident_duration"]]

In [7]:
df_incident.head()

,step,time_of_day,incident_edge,incident_start_time,incident_type,accident_label,accident_id,accident_duration
328692,7826,7826,436943731#0,7825,multi_vehicle_collision,True,acc7825,5982
328693,7826,7826,436943731#0,7825,multi_vehicle_collision,True,acc7825,5982
328694,7826,7826,436943731#0,7825,multi_vehicle_collision,True,acc7825,5982
328695,7826,7826,436943731#0,7825,multi_vehicle_collision,True,acc7825,5982
328696,7826,7826,436943731#0,7825,multi_vehicle_collision,True,acc7825,5982

In [8]:
df_incident_unique = df_incident.groupby(["accident_id"]).first().reset_index()

In [9]:
df_incident_unique = df_incident_unique.sort_values(by = "step")
df_incident_unique.head()

,accident_id,step,time_of_day,incident_edge,incident_start_time,incident_type,accident_label,accident_duration
292,acc7825,7826,7826,436943731#0,7825,multi_vehicle_collision,True,5982
78,acc15683,15684,15684,436942386#0,15683,multi_vehicle_collision,True,4993
188,acc23568,23569,23569,-327757100#6,23568,stalled_vehicle,True,1419
228,acc31505,31506,31506,-436789319,31505,multi_vehicle_collision,True,3626
239,acc39444,39445,39445,512810351#0,39444,stalled_vehicle,True,1196

In [10]:
print(f"Total number of incidents {df_incident_unique.shape[0]}")
print(f"Average accident clearence time {df_incident_unique['accident_duration'].mean()}")
print(f"Max accident clearence time {df_incident_unique['accident_duration'].max()}")
print(f"Min accident clearence time {df_incident_unique['accident_duration'].min()}")
print(f"Median accident clearence time {df_incident_unique['accident_duration'].median()}")

Total number of incidents 323
Average accident clearence time 3397.4241486068113
Max accident clearence time 7193
Min accident clearence time 902
Median accident clearence time 2827.0

In [11]:
suffix = raw_data.split("trafficDataset_")[-1]
print("Suffix used ",suffix)
df_incident_unique.to_csv(f"/home/local/ASURITE/speddira/dev/git_repo/traffic_sense_net/city_scale/processed_datasets/incidents_{suffix}")

Suffix used  2024-2-16_1915hours_2592000steps.csv