In [1]:
import pandas as pd

In [2]:
VEHICLE_DATASET = "/home/local/ASURITE/speddira/dev/traffic_sense_net/city_scale/raw_datasets/vehicleDataset_2024-2-16_1915hours_2592000steps.csv"

In [3]:

df_vehicle = pd.read_csv(VEHICLE_DATASET)

In [4]:
df_vehicle.head()

,step,time_of_day,car_id,identified_edge,identified_lane,vehicle_speed,vehicle_acceleration
0,7,7,veh7,-436942356#1,1,0.000000,0.000000
1,7,7,veh7.1,-436942356#1,2,0.000000,0.000000
2,8,8,veh7,-436942356#1,1,1.433850,1.433850
3,8,8,veh7.1,-436942356#1,2,2.020224,2.020224
4,9,9,veh7,-436942356#1,1,4.033344,2.599494

In [5]:
NUM_OF_JUNCTIONS = 8
SIM_DURATION = 2592000

In [6]:

if NUM_OF_JUNCTIONS == 3:
    print(f" Number of junctions considered 3")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","436943762#0"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2"]
    
elif NUM_OF_JUNCTIONS == 4:
    print(f" Number of junctions considered 4")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","-643913497","436940278","436943762#0"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2","436940270","519448767"]
    
elif NUM_OF_JUNCTIONS == 5:
    print(f" Number of junctions considered 5")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","-643913497","436940278","436943762#0","436794669","436942357"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2","436940270","519448767","-436794676#1","531969915#0"]
    
elif NUM_OF_JUNCTIONS == 6:
    print(f" Number of junctions considered 6")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","-643913497","436940278","436943762#0","436794669","436942357","-436942356#1","436942362#0","436789580#1"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2","436940270","519448767","-436794676#1","531969915#0","436942356#0","-436942362#3","436789564#0"]
    
elif NUM_OF_JUNCTIONS == 7:
    print(f" Number of junctions considered 7")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","-643913497","436940278","436943762#0","436794669","436942357","-436942356#1","436942362#0","436789580#1","436794670","1051038541#0","-436794679#3"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2","436940270","519448767","-436794676#1","531969915#0","436942356#0","-436942362#3","436789564#0","A-1088637809#1","A436942385#0","A436794679#0"]
    
elif NUM_OF_JUNCTIONS == 8:
    print(f" Number of junctions considered 8")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","-643913497","436940278","436943762#0","436794669","436942357","-436942356#1","436942362#0","436789580#1","436794670","1051038541#0","-436794679#3","436943745#0","351673438","-613687451#1"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2","436940270","519448767","-436794676#1","531969915#0","436942356#0","-436942362#3","436789564#0","-1088637809#1","436942385#0","436794679#0","-436943745#2","436943742","436943774"]
    

else:
    print(f" Number of junctions considered {NUM_OF_JUNCTIONS}")
    print("Entered too many sensors resorting to 8 sensors")
    incoming_edges = ["436794680#0","436791113#0","-436942381#3","533371302#0","436942374","436790491","436943750#0","-643913497","436940278","436943762#0","436794669","436942357","-436942356#1","436942362#0","436789580#1","436794670","1051038541#0","-436794679#3","436943745#0","351673438","-613687451#1"]
    outgoing_edges = ["533573776#0","5607328#0","436942381#0","436790495","-1033824750","30031286#0","436943743#0","-436943762#2","436940270","519448767","-436794676#1","531969915#0","436942356#0","-436942362#3","436789564#0","-1088637809#1","436942385#0","436794679#0","-436943745#2","436943742","436943774"]

 Number of junctions considered 8

In [7]:
# sensor details

sensors = {

    1: "5607328#0",
    2:"436791113#0",
    3:"533573776#0",
    4:"436794680#0",
    5:"436794670",
    6:"436942385#0",
    7:"1051038541#0",
    8:"436794679#0",
    9:"-436794679#3",
    10:"-1088637809#1",
    11:"436794669",
    12:"531969915#0",
    13:"436942357",
    14:"-436794676#1",
    15:"436790495",
    16:"533371302#0",
    17:"-1033824750",
    18:"436942374",
    19:"30031286#0",
    20:"436790491",
    21:"436942381#0",
    22:"-436942381#3",
    23:"436789580#1",
    24:"436942356#0",
    25:"-436942356#1",
    26:"-436942362#3",
    27:"436942362#0",
    28:"436789564#0",
    29:"436940278",
    30:"436940270",
    31:"-643913497",
    32:"519448767",
    33:"436943745#0",
    34:"436943742",
    35:"351673438",
    36:"436943774",
    37:"-613687451#1",
    38:"-436943745#2",
    39:"436943750#0",
    40:"-436943762#2",
    41:"436943762#0",
    42:"436943743#0"

}

In [8]:
junctions_sensor_combo ={

    3:[[3,22],[21,4],[1,16],[15,2],[40,20],[19,41],[42,18],[17,39],[3,41],[42,2],[1,39],[40,4]],

    4:[[3,22],[21,4],[1,16],[15,2],[40,20],[19,41],[42,18],[17,39],[3,41],[42,31],[30,39],[40,4],[32,2],[1,29],[32,16],[15,29],[30,18],[17,31]],
    
    5:[[3,11],[14,4],[30,39],[42,31],[32,2],[1,29],[40,13],[12,41],[3,22],[14,22],[21,4],[21,11],[1,16],[15,2],[19,13],[12,20],[32,16],[15,29],[30,18],[17,31],[17,39],[42,18],[19,41],[40,20]],

    6:[[3,11],[14,4],[30,39],[42,31],[32,2],[1,29],[26,13],[12,27],[40,25],[24,41],[3,22],[14,22],[21,4],[21,11],[1,16],[15,2],[19,23],[28,20],[32,16],[15,29],[30,18],[17,31],[17,39],[42,18]],

    7:[[3,5],[10,4],[8,11],[14,9],[30,39],[42,31],[32,2],[1,29],[26,13],[12,27],[40,25],[24,41],[6,22],[21,7],[1,16],[15,2],[19,23],[28,20],[32,16],[15,29],[30,18],[17,31],[17,39],[42,18]],

    8:[[3,5],[10,4],[8,11],[14,9],[30,33],[38,31],[34,39],[42,35],[32,2],[1,29],[26,13],[12,27],[40,25],[24,41],[6,22],[21,7],[1,16],[15,2],[19,23],[28,20],[32,16],[15,29],[36,18],[17,37]]

}

In [9]:
interested_combo = junctions_sensor_combo[NUM_OF_JUNCTIONS]
print(interested_combo)
print(len(interested_combo))

[[3, 5], [10, 4], [8, 11], [14, 9], [30, 33], [38, 31], [34, 39], [42, 35], [32, 2], [1, 29], [26, 13], [12, 27], [40, 25], [24, 41], [6, 22], [21, 7], [1, 16], [15, 2], [19, 23], [28, 20], [32, 16], [15, 29], [36, 18], [17, 37]]
24

In [10]:
steps = [i for i in range(SIM_DURATION)]
data_dd = {"steps":steps}
dd_dataframe = pd.DataFrame(data_dd)
dd_dataframe.shape

(2592000, 1)

In [11]:
data_dd = {"step":steps}
df_traffic_data = pd.DataFrame(data_dd)
df_traffic_data.shape

(2592000, 1)

In [12]:
df_traffic_data.head()

   step
0     0
1     1
2     2
3     3
4     4

In [13]:
count = 1
for sensor_combination in interested_combo:
    print(count)
    
    outgoing_sensor = sensors[sensor_combination[0]] # Get edge id of outgoing sensor
    incoming_sensor = sensors[sensor_combination[1]] # Get edge id of incoming sensor
    
    df_outgoing = df_vehicle[df_vehicle['identified_edge'] == outgoing_sensor]
    df_incoming = df_vehicle[df_vehicle['identified_edge'] == incoming_sensor]
    df_incoming = df_incoming.reset_index(drop=True)
    df_outgoing = df_outgoing.reset_index(drop=True)

    df_outgoing_unique = df_outgoing[df_outgoing["car_id"].notnull()]
    df_incoming_unique = df_incoming[df_incoming["car_id"].notnull()]
    df_outgoing_unique = df_outgoing_unique.groupby('car_id').first().reset_index()
    df_incoming_unique = df_incoming_unique.groupby('car_id').first().reset_index()
    df_outgoing_unique = df_outgoing_unique.sort_values(by = 'step')
    df_incoming_unique = df_incoming_unique.sort_values(by = 'step')
    
    df_merged = pd.merge(left = df_incoming_unique,right = df_outgoing_unique, on='car_id', how='inner')
    df_merged["travel_time"] = df_merged["step_x"] - df_merged["step_y"]

    df_travel_time_data = df_merged[["step_x","travel_time"]]
    df_travel_time_data = df_travel_time_data.groupby("step_x").mean().reset_index() #At given time multiple car can give differnet travel time we take average

    
    df_travel_time_data2 = pd.merge(left = df_travel_time_data,right = dd_dataframe, right_on='steps',left_on="step_x", how='right')

    df_travel_time_data2[f"rolling_travel_time_{sensor_combination[0]}_{sensor_combination[1]}"] = df_travel_time_data2["travel_time"].rolling(300,min_periods=1).mean()

    df_travel_time_data2 = df_travel_time_data2.drop(["step_x","travel_time"],axis=1)
    
    df_traffic_data = pd.merge(left = df_traffic_data, right = df_travel_time_data2 , left_on = "step",right_on = "steps", how = "inner")
    df_traffic_data = df_traffic_data.drop(["steps"],axis=1)
    print(df_traffic_data.shape)
    count+=1

1
(2592000, 2)
2
(2592000, 3)
3
(2592000, 4)
4
(2592000, 5)
5
(2592000, 6)
6
(2592000, 7)
7
(2592000, 8)
8
(2592000, 9)
9
(2592000, 10)
10
(2592000, 11)
11
(2592000, 12)
12
(2592000, 13)
13
(2592000, 14)
14
(2592000, 15)
15
(2592000, 16)
16
(2592000, 17)
17
(2592000, 18)
18
(2592000, 19)
19
(2592000, 20)
20
(2592000, 21)
21
(2592000, 22)
22
(2592000, 23)
23
(2592000, 24)
24
(2592000, 25)

In [14]:
df_traffic_data.shape

(2592000, 25)

In [15]:
df_traffic_data.head(1000)

,step,rolling_travel_time_3_5,rolling_travel_time_10_4,rolling_travel_time_8_11,rolling_travel_time_14_9,rolling_travel_time_30_33,rolling_travel_time_38_31,rolling_travel_time_34_39,rolling_travel_time_42_35,rolling_travel_time_32_2,...,rolling_travel_time_6_22,rolling_travel_time_21_7,rolling_travel_time_1_16,rolling_travel_time_15_2,rolling_travel_time_19_23,rolling_travel_time_28_20,rolling_travel_time_32_16,rolling_travel_time_15_29,rolling_travel_time_36_18,rolling_travel_time_17_37
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,106.100000,113.642857,107.916667,120.818182,94.914062,103.563492,163.204225,133.776786,169.777778,...,68.409091,65.506944,159.166667,276.25,132.5,129.2,NaN,NaN,67.785714,58.232143
996,996,106.100000,113.642857,107.916667,120.818182,94.914062,103.080645,163.204225,133.154545,169.777778,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,NaN,NaN,67.785714,58.232143
997,997,107.105263,113.642857,107.916667,122.916667,94.914062,103.080645,163.564286,132.824074,169.777778,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,NaN,NaN,67.785714,58.232143
998,998,107.105263,113.642857,107.916667,122.916667,94.914062,102.770492,163.564286,131.915094,169.777778,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,NaN,NaN,67.785714,58.232143
999,999,108.277778,113.642857,107.916667,122.916667,94.914062,102.770492,163.564286,132.317308,169.100000,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,NaN,NaN,67.785714,58.232143

In [16]:
null_counts = df_traffic_data.isnull().sum()

# Print the result
print(null_counts)

step                               0
rolling_travel_time_3_5         3472
rolling_travel_time_10_4         713
rolling_travel_time_8_11        7477
rolling_travel_time_14_9         588
rolling_travel_time_30_33      14253
rolling_travel_time_38_31       5740
rolling_travel_time_34_39       2330
rolling_travel_time_42_35        216
rolling_travel_time_32_2       21938
rolling_travel_time_1_29        4642
rolling_travel_time_26_13       7328
rolling_travel_time_12_27        121
rolling_travel_time_40_25       2793
rolling_travel_time_24_41        151
rolling_travel_time_6_22         663
rolling_travel_time_21_7         937
rolling_travel_time_1_16      465516
rolling_travel_time_15_2      302778
rolling_travel_time_19_23      65549
rolling_travel_time_28_20      51168
rolling_travel_time_32_16    1793399
rolling_travel_time_15_29    1459202
rolling_travel_time_36_18        500
rolling_travel_time_17_37      18185
dtype: int64

In [17]:
df_traffic_data2 = df_traffic_data.fillna(-1)

In [18]:
df_traffic_data2.head(1000)

,step,rolling_travel_time_3_5,rolling_travel_time_10_4,rolling_travel_time_8_11,rolling_travel_time_14_9,rolling_travel_time_30_33,rolling_travel_time_38_31,rolling_travel_time_34_39,rolling_travel_time_42_35,rolling_travel_time_32_2,...,rolling_travel_time_6_22,rolling_travel_time_21_7,rolling_travel_time_1_16,rolling_travel_time_15_2,rolling_travel_time_19_23,rolling_travel_time_28_20,rolling_travel_time_32_16,rolling_travel_time_15_29,rolling_travel_time_36_18,rolling_travel_time_17_37
0,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.00,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000
1,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.00,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000
2,2,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.00,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000
3,3,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.00,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000
4,4,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.00,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,106.100000,113.642857,107.916667,120.818182,94.914062,103.563492,163.204225,133.776786,169.777778,...,68.409091,65.506944,159.166667,276.25,132.5,129.2,-1.0,-1.0,67.785714,58.232143
996,996,106.100000,113.642857,107.916667,120.818182,94.914062,103.080645,163.204225,133.154545,169.777778,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,-1.0,-1.0,67.785714,58.232143
997,997,107.105263,113.642857,107.916667,122.916667,94.914062,103.080645,163.564286,132.824074,169.777778,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,-1.0,-1.0,67.785714,58.232143
998,998,107.105263,113.642857,107.916667,122.916667,94.914062,102.770492,163.564286,131.915094,169.777778,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,-1.0,-1.0,67.785714,58.232143
999,999,108.277778,113.642857,107.916667,122.916667,94.914062,102.770492,163.564286,132.317308,169.100000,...,68.409091,64.686667,159.166667,276.25,132.5,129.2,-1.0,-1.0,67.785714,58.232143

In [19]:
null_counts = df_traffic_data2.isnull().sum()

# Print the result
print(null_counts)

step                         0
rolling_travel_time_3_5      0
rolling_travel_time_10_4     0
rolling_travel_time_8_11     0
rolling_travel_time_14_9     0
rolling_travel_time_30_33    0
rolling_travel_time_38_31    0
rolling_travel_time_34_39    0
rolling_travel_time_42_35    0
rolling_travel_time_32_2     0
rolling_travel_time_1_29     0
rolling_travel_time_26_13    0
rolling_travel_time_12_27    0
rolling_travel_time_40_25    0
rolling_travel_time_24_41    0
rolling_travel_time_6_22     0
rolling_travel_time_21_7     0
rolling_travel_time_1_16     0
rolling_travel_time_15_2     0
rolling_travel_time_19_23    0
rolling_travel_time_28_20    0
rolling_travel_time_32_16    0
rolling_travel_time_15_29    0
rolling_travel_time_36_18    0
rolling_travel_time_17_37    0
dtype: int64

In [20]:
# Scaling 
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

In [21]:
for col in df_traffic_data2:
    if col == "step":
        continue
    
    df_traffic_data2[col] = scaler.fit_transform(df_traffic_data2[[col]])

In [28]:
df_traffic_data2.head(1000)

,step,rolling_travel_time_3_5,rolling_travel_time_10_4,rolling_travel_time_8_11,rolling_travel_time_14_9,rolling_travel_time_30_33,rolling_travel_time_38_31,rolling_travel_time_34_39,rolling_travel_time_42_35,rolling_travel_time_32_2,...,rolling_travel_time_6_22,rolling_travel_time_21_7,rolling_travel_time_1_16,rolling_travel_time_15_2,rolling_travel_time_19_23,rolling_travel_time_28_20,rolling_travel_time_32_16,rolling_travel_time_15_29,rolling_travel_time_36_18,rolling_travel_time_17_37
0,0,-9.959825,-10.307068,-12.127721,-12.064232,-1.769914,-1.650929,-2.868191,-4.571873,-7.955341,...,-8.079519,-6.332210,-4.718398,-6.241603,-9.835334,-7.443147,0.0,0.0,-4.841606,-7.237813
1,1,-9.959825,-10.307068,-12.127721,-12.064232,-1.769914,-1.650929,-2.868191,-4.571873,-7.955341,...,-8.079519,-6.332210,-4.718398,-6.241603,-9.835334,-7.443147,0.0,0.0,-4.841606,-7.237813
2,2,-9.959825,-10.307068,-12.127721,-12.064232,-1.769914,-1.650929,-2.868191,-4.571873,-7.955341,...,-8.079519,-6.332210,-4.718398,-6.241603,-9.835334,-7.443147,0.0,0.0,-4.841606,-7.237813
3,3,-9.959825,-10.307068,-12.127721,-12.064232,-1.769914,-1.650929,-2.868191,-4.571873,-7.955341,...,-8.079519,-6.332210,-4.718398,-6.241603,-9.835334,-7.443147,0.0,0.0,-4.841606,-7.237813
4,4,-9.959825,-10.307068,-12.127721,-12.064232,-1.769914,-1.650929,-2.868191,-4.571873,-7.955341,...,-8.079519,-6.332210,-4.718398,-6.241603,-9.835334,-7.443147,0.0,0.0,-4.841606,-7.237813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,-0.467525,0.263733,-0.691263,0.808552,-0.163006,0.012945,0.437596,0.291587,0.510980,...,0.058624,-0.002999,-0.809449,2.169014,0.334334,-0.461175,0.0,0.0,-0.235826,-0.294081
996,996,-0.467525,0.263733,-0.691263,0.808552,-0.163006,0.005261,0.437596,0.269133,0.510980,...,0.058624,-0.081062,-0.809449,2.169014,0.334334,-0.461175,0.0,0.0,-0.235826,-0.294081
997,997,-0.378428,0.263733,-0.691263,1.030303,-0.163006,0.005261,0.444844,0.257208,0.510980,...,0.058624,-0.081062,-0.809449,2.169014,0.334334,-0.461175,0.0,0.0,-0.235826,-0.294081
998,998,-0.378428,0.263733,-0.691263,1.030303,-0.163006,0.000326,0.444844,0.224407,0.510980,...,0.058624,-0.081062,-0.809449,2.169014,0.334334,-0.461175,0.0,0.0,-0.235826,-0.294081
999,999,-0.274508,0.263733,-0.691263,1.030303,-0.163006,0.000326,0.444844,0.238921,0.477379,...,0.058624,-0.081062,-0.809449,2.169014,0.334334,-0.461175,0.0,0.0,-0.235826,-0.294081

In [23]:
df_traffic_data2.shape

(2592000, 25)

In [24]:
df_traffic_data.head()

,step,rolling_travel_time_3_5,rolling_travel_time_10_4,rolling_travel_time_8_11,rolling_travel_time_14_9,rolling_travel_time_30_33,rolling_travel_time_38_31,rolling_travel_time_34_39,rolling_travel_time_42_35,rolling_travel_time_32_2,...,rolling_travel_time_6_22,rolling_travel_time_21_7,rolling_travel_time_1_16,rolling_travel_time_15_2,rolling_travel_time_19_23,rolling_travel_time_28_20,rolling_travel_time_32_16,rolling_travel_time_15_29,rolling_travel_time_36_18,rolling_travel_time_17_37
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_traffic_data.shape

(2592000, 25)

In [26]:
df_traffic_data.to_csv(f"/home/local/ASURITE/speddira/dev/traffic_sense_net/city_scale/raw_datasets/travel_time_{NUM_OF_JUNCTIONS}junc.csv")

In [27]:
df_traffic_data2.to_csv(f"/home/local/ASURITE/speddira/dev/traffic_sense_net/city_scale/raw_datasets/scaled_travel_time_{NUM_OF_JUNCTIONS}junc.csv")